$button-status: success, warning, danger, info;
$button-types: plain, primary, text, link, dashed;

@use "sass:color";

@mixin button-type-styles() {
  // type 为空时
  --mono-button-hover-color: var(--mono-button-status-color);
  --mono-button-hover-border-color: var(--mono-button-status-color);
  --mono-button-active-color: var(--mono-button-status-color-dark-1);
  --mono-button-active-border-color: var(--mono-button-status-color-dark-1);

  @each $type in $button-types {
    @if $type == primary {
      &.mono-button--#{$type} {
        --mono-button-color: rgb(var(--mono-color-reverse));
        --mono-button-bg-color: var(--mono-button-status-color);
        --mono-button-border-color: var(--mono-button-status-color);
        --mono-button-hover-color: rgb(var(--mono-color-reverse));
        --mono-button-hover-bg-color: var(--mono-button-status-color-light-2);
        --mono-button-hover-border-color: var(--mono-button-status-color-light-2);
        --mono-button-active-color: rgb(var(--mono-color-reverse));
        --mono-button-active-bg-color: var(--mono-button-status-color-dark-1);
        --mono-button-active-border-color: var(--mono-button-status-color-dark-1);
      }
    } @else if $type == text {
      &.mono-button--#{$type} {
        border: none;

        --mono-button-color: var(--mono-button-status-color);
        --mono-button-hover-color: var(--mono-button-status-color-light-2);
        --mono-button-active-color: var(--mono-button-status-color-dark-1);
        --mono-button-hover-bg-color: rgb(var(--mono-color-gray-light-9));
        --mono-button-active-bg-color: rgb(var(--mono-color-gray-light-8));
        --mono-button-disabled-bg-color: rgb(var(--mono-color-card));
      }
    } @else if $type == link {
      &.mono-button--#{$type} {
        border: none;

        --mono-button-color: var(--mono-button-status-color);
        --mono-button-hover-color: var(--mono-button-status-color-light-2);
        --mono-button-active-color: var(--mono-button-status-color-dark-1);
        --mono-button-disabled-bg-color: rgb(var(--mono-color-card));
      }
    } @else if $type == dashed {
      &.mono-button--#{$type} {
        border-style: dashed;

        --mono-button-color: var(--mono-button-status-color);
        --mono-button-bg-color: rgb(var(--mono-color-card));
        --mono-button-border-color: var(--mono-button-status-color);
        --mono-button-hover-color: var(--mono-button-status-color-light-2);
        --mono-button-hover-bg-color: rgb(var(--mono-color-reverse));
        --mono-button-hover-border-color: var(--mono-button-status-color-light-2);
        --mono-button-active-color: var(--mono-button-status-color-dark-1);
        --mono-button-active-bg-color: rgb(var(--mono-color-card));
        --mono-button-active-border-color: var(--mono-button-status-color-dark-1);
      }
    } @else if $type == plain {
      &.mono-button--#{$type} {
        --mono-button-color: var(--mono-button-status-color);
        --mono-button-bg-color: rgb(var(--mono-color-card));
        --mono-button-border-color: var(--mono-button-status-color);
        --mono-button-hover-color: var(--mono-button-status-color-light-2);
        --mono-button-hover-bg-color: rgb(var(--mono-color-reverse));
        --mono-button-hover-border-color: var(--mono-button-status-color-light-2);
        --mono-button-active-color: var(--mono-button-status-color-dark-1);
        --mono-button-active-bg-color: rgb(var(--mono-color-card));
        --mono-button-active-border-color: var(--mono-button-status-color-dark-1);
      }
    } @else {
      &.mono-button--#{$type} {
        --mono-button-color: var(--mono-button-status-color);
        --mono-button-bg-color: var(--mono-button-status-color-light-9);
        --mono-button-border-color: var(--mono-button-status-color-light-5);
        --mono-button-hover-color: rgb(var(--mono-color-reverse));
        --mono-button-hover-bg-color: var(--mono-button-status-color);
        --mono-button-hover-border-color: var(--mono-button-status-color);
        --mono-button-disabled-color: var(--mono-button-status-color-light-5);
        --mono-button-disabled-bg-color: var(--mono-button-status-color-light-9);
        --mono-button-disabled-border-color: var(--mono-button-status-color-light-8);
      }
    }
  }
}

@mixin button-status-styles() {
  // status 为空时
  --mono-button-status-color: rgb(var(--mono-color-primary));

  @for $i from 1 through 9 {
    --mono-button-status-color-dark-#{$i}: rgb(var(--mono-color-primary-dark-#{$i}));
    --mono-button-status-color-light-#{$i}: rgb(var(--mono-color-primary-light-#{$i}));
  }

  @each $status in $button-status {
    &.mono-button--#{$status} {
      --mono-button-status-color: rgb(var(--mono-color-#{$status}));

      @for $i from 1 through 9 {
        --mono-button-status-color-dark-#{$i}: rgb(var(--mono-color-#{$status}-dark-#{$i}));
        --mono-button-status-color-light-#{$i}: rgb(var(--mono-color-#{$status}-light-#{$i}));
      }
    }
  }
}

.mono-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--mono-button-padding-y) var(--mono-button-padding-x);
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: var(--mono-button-color);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--mono-button-bg-color);
  border-color: var(--mono-button-border-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  outline: none;

  &:hover {
    color: var(--mono-button-hover-color);
    background-color: var(--mono-button-hover-bg-color);
    border-color: var(--mono-button-hover-border-color);
  }

  &:active {
    color: var(--mono-button-active-color);
    background-color: var(--mono-button-active-bg-color);
    border-color: var(--mono-button-active-border-color);
  }

  @include button-type-styles;
  @include button-status-styles;

  &.mono-button--disabled,
  &.mono-button--disabled:hover,
  &.mono-button--disabled:active {
    color: var(--mono-button-disabled-color);
    cursor: not-allowed;
    background-color: var(--mono-button-disabled-bg-color);
    border-color: var(--mono-button-disabled-border-color);
  }
}
